body {
    color: white;
    background: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 3vh;
    text-align: center;
}

.menu {
    outline: 1px solid white;
    width: calc(100% - 20px);
    margin: 1.5vh auto;
    box-sizing: border-box;
}

#invalid_login, #invalid_login a {
	color: red;
}

/* General buttons */
.menu_button,
.keypad_button,
.split_item_remove,
.split_add,
.reps_button {
    outline: 1px solid #444;
    padding: 2.5vh 1.5vh;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
}

.menu_button:active,
.keypad_button:active,
.split_item_remove:active,
.split_add:active {
    background: #333;
}

.reps_button {
    display: inline-block;
    white-space: nowrap;
	font-size: 4vh;
}

/* Main menu */
#main_menu .menu_button {
    padding: 2.5vh 1.5vh;
}

/* Exercise logging */
#log_stats {
    padding: 1.5vh 1vh;
    border-bottom: 1px solid #444;
    font-size: 2vh;
}

#log_prompt {
    padding-top: 2.5vh;
    font-size: 2.5vh;
    color: #aaa;
}

#log_view {
    font-size: 7vh;
    font-weight: bold;
    padding: 2.5vh 1.5vh;
}

/* Keypad */
#keypad {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 5px;
}

.keypad_button {
    min-height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Workout split */
.split_day {
    border-bottom: 1px solid #444;
    padding: 2vh .5vh;
}

.split_item {
    outline: 1px solid #333;
    margin: 1vh 0;
    padding: 1.5vh;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vh;
}

.split_item_remove {
    font-size: 2vh;
    padding: 1vh 1.5vh;
    flex-shrink: 0;
    color: #aaa;
}

.split_item_remove,
.split_add {
    font-size: 2.5vh;
    padding: 2vh;
}

.split_add {
    color: #aaa;
}

/* History */
#view_history {
    text-align: left;
    padding: 2vh;
}

#view_history ul {
    padding-left: 3vh;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

#view_history li {
    margin-bottom: 2vh;
    padding: 1.5vh;
    outline: 1px solid #333;
}

/* Global menu button */
body > .menu_button {
    width: calc(100% - 20px);
    margin: 1.5vh auto;
    padding: 2.5vh 10px;
    outline: 1px solid white;
    box-sizing: border-box;
}

/* Body weight */
#weight_record {
    padding-bottom: 1.5vh;
}

#weight_record > .menu_button {
    margin-bottom: 2.5vh;
}

#weight_record > #weight_history {
    margin: 1.5vh;
    outline: 1px solid #333;
    text-align: left;
    padding: 1.5vh;
    font-size: 2.5vh;
}

#weight_history {
    line-height: 1.5;
}

#save_button {
	display: none;
	background: darkred;
}